*
{
  outline: none;
}

body {
}

#logo
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  margin-top: 10px;
  user-select: none; /* Standard */
}

#wrapper
{
  /*border: 2px solid red;*/
  margin: auto;
  width: 500px;
  height: auto;
  margin-top: 45px;
}

.dataTable
{
  /*overflow: scroll;*/
}

.dataTable table {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1px;
  margin: auto;
  width: 100%;
}

.dataTable thead {
  background: #c9dff0;
}

.dataTable thead tr th {
  font-weight: bold;
  padding: 6px 15px;
  padding-left: 21px;
}

.dataTable tbody tr {
  color: #555;
}

.dataTable tbody tr td {
  text-align: center;
  padding: 4px 2px;
  background-color: white;
}

.dataTable tbody tr td.lalign {
  text-align: left;
}

.dataTable td
{
  min-width: 70px;
  padding: 0 2px 0 2px;
}

.orderListRow:hover
{
  cursor: pointer;
}

.formWrapper
{
  margin: 0 auto;
  text-align: center;
}

form
{
  display: inline-block;
  text-align: left;
}

#submitBtn
{
  float: right;
  margin-right: 9px;
  margin-top: 4px;
}

#loadback
{
  text-align: center;
}

.backContainer
{
  position: absolute;
  margin-left: 50px;
  margin-top: 20px;
}

.backBtn
{
  background-color: red;
  font-size: 15px;
  color: white;
  font-family: 'Trebuchet MS';
  border: 2px solid white;
  box-shadow: 1px 1px 3px 2px #888888;
  border-radius: 10px;
  width: 90px;
  height: 40px;
}

.backBtn:hover
{
  cursor: pointer;
}

.searchForm
{
  padding: 0;
}

.searchForm input
{
  width: 100%;
}

.seachForm button
{
  margin: 0;
  float: left;
}

#searchBtn
{
  width: 47%;
  float right;
  text-align: center;
}

.DropDownContainer
{
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  max-height: 50px;
}

.DropDown
{
  height: 50px;
  background-color: rgb(151, 200, 236);
  line-height: 50px;
  vertical-align: middle;
}

.DropDown span
{
  color: white;
  font-family: 'Trebuchet MS';
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}

.DropDown img
{
  float: right;
  height: 25px;
  margin: 10px;
}

.DropDown img:hover
{
  cursor: pointer;
}

.DropDownContent
{
  background-color: rgb(245, 245, 245);
  padding: 10px;
}

.DropDownContent label
{
  margin-right: 5px;
}

#darkenBackground
{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.44);
  overflow: hidden;
  display: none;
}

#searchPopup
{
  position: absolute;
  width: 50%;
  height: 70%;
  background: white;
  border-radius: 20px;
  z-index: 10;
  padding: 20px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Trebuchet MS';
  display: none;
}

#ordresearch
{
  display: none;
}

.userInfoTable
{
  margin: 10 auto;
  table-layout: fixed;
  width: 60%;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 6px;
  border-collapse: separate;
  border-spacing: 20px 0;
}

.userInfoTable td
{
  width: 100%;
}

#ordreDetaljer
{
  display: none;
}

#ordreDetaljer button
{
  float: right;
}

#ordreDetaljer table
{
  width: 80%;
  margin: 0 auto;
}

#ordrelinjeContainer
{
  width: 85%;
  margin: 0 auto;
}

#ordrelinje
{
  height: auto;
  padding: 10px;
  text-align: center;
}

#ordrelinje table
{
  width: 100%;
}

#artikkelsearch
{
  display: none;
}

.prettyButtons
{
  width: 100px;
  height: 40px;
  background: rgb(90, 180, 83);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  border: none;
}

.prettyButtons:hover
{
  background: rgb(80, 159, 73);
  cursor: pointer;
}

#errorPopup
{
  position: absolute;
  width: 20%;
  height: 20%;
  background: white;
  border-radius: 20px;
  z-index: 12;
  padding: 15px;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Trebuchet MS';
  display: none;
}

#ordresearchresults
{
  width: 85%;
}

.tdSelected
{
  background-color: rgba(81, 181, 100, 0.44) !important;
}

.orderListRow:hover td
{
  background: rgba(0, 0, 0, 0.05);
}

.tdRetur
{
  background: rgba(207, 83, 83, 0.65) !important;
}

.tdReklamasjon
{
  background: rgba(247, 107, 38, 0.65) !important;
}
