*
{
  outline: none;
}

body {
}

#logo
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  margin-top: 10px;
  user-select: none; /* Standard */
}

#wrapper
{
  /*border: 2px solid red;*/
  margin: auto;
  width: 500px;
  height: auto;
  margin-top: 45px;
}

#loadback table {
  background-color: rgba(0, 0, 0, 0.09);
  padding: 2px;
  margin: auto;
}

#loadback thead {
  cursor: pointer;
  background: #c9dff0;
}
#loadback thead tr th {
  font-weight: bold;
  padding: 6px 15px;
  padding-left: 21px;
}

#loadback tbody tr {
  color: #555;
}

#loadback tbody tr td {
  text-align: center;
  padding: 2px 1px;
  background-color: white;
}

#loadback tbody tr td.lalign {
  text-align: left;
}

.formWrapper
{
  margin: 0 auto;
  text-align: center;
}

form
{
  display: inline-block;
  text-align: left;
}

#submitBtn
{
  float: right;
  margin-right: 9px;
  margin-top: 4px;
}

#loadback
{
  text-align: center;
}

.backContainer
{
  position: absolute;
  margin-left: 50px;
  margin-top: 20px;
}

.backBtn
{
  background-color: red;
  font-size: 15px;
  color: white;
  font-family: 'Trebuchet MS';
  border: 2px solid white;
  box-shadow: 1px 1px 3px 2px #888888;
  border-radius: 10px;
  width: 90px;
  height: 40px;
}

.backBtn:hover
{
  cursor: pointer;
}

.searchForm
{
  padding: 0;
}

.searchForm input
{
  width: 100%;
}

.seachForm button
{
  margin: 0;
  float: left;
}
